.cardT {
    display: grid;
    grid-template-columns: 5fr 15fr;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, rgb(25,75,175), rgb(25,75,165) );
  }

.cardT > * {
    list-style: none;
    padding: 10px;
    width: 100%;
}

.cardT img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  