.mouseclick {
    cursor:pointer
}

.main {
    background-color:rgb(0,155,155);
    padding: 15px;
}

.logo{
    height: 25px;
}

.mouseclick {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.chevron {
    height: 15px;
}
  